@import "../../shared/responsive-breackpoints.scss";

.label-description {
    width: 110px;
    margin-bottom: 0px;
}

.element-form {
    display: flex;
    align-items: center;
    @include respond-to(xs-screen) {
        flex-direction: column;
        align-items: baseline;
    }
    @include respond-to(sm-screen) {
        flex-direction: column;
        align-items: baseline;
    }
    @include respond-to(md-screen) {
        flex-direction: column;
        align-items: baseline;
    }
}